@charset "utf-8";
body#shortcut{
	background-color:#ddeffe;
}
.panel-other > .panel-heading{
    border-color:transparent;
    border-bottom: 1px solid #0092dc;
}
.panel .panel-heading > h2 > i {
	 color:#0092dc;
}
.panel-other > .panel-heading > .more a{
	padding:2px 12px;
    color:#0092dc;
}
.panel-other > .panel-heading > .more a:hover{
    background:url(../images/more_bg.png) no-repeat center;
    color:#fff;
}
.panel-heading .refresh > a{
	color:#0092dc;
}
.panel-other li.list-group-item a > span.new{
    background:url(../images/new.png) no-repeat;
}
.panel-other > ul > li.active,.panel-other li.list-group-item:hover{
    background-color:#d4dff0;
}

.shortcut a > i{
	color:#0092dc;
}
.carousel-indicators li > i{
	color:#0092dc;
}
/*自定义菜单样式*/
.shortcut-menu a{
	background-color: #0092dc;
}
.shortcut-menu .unchecked{
	background: url(../images/unchecked.png) no-repeat;
}
.shortcut-menu .checked{
	background: url(../images/checked.png) no-repeat;
}
/*移动端-底部菜单导航栏*/
.stack ul li a > i{
	color:#0092dc;
}

.stack .openStack li a:hover span{
	background-color:#0092dc;
}

.carousel-indicators li.active > span{
    background-color:#0092dc;
}

.shortcut a.add-btn > i{
	color:#0092dc;
}
.loading{
    border-bottom:2px solid #0092dc;
}