.panel-body{
	padding-top:0px;
}
.panel-bgcolor{
	border: 0; 
	background-color:#f2f4f8;
}
.btngroup{
	background-color: #f3f4f8;
	border: 0px; padding: 7px 5px 7px 0px;
	/*border: 0px; padding: 10px 5px 10px 0px;*/
	text-align: left;
	/*height: 50px;*/
}
.nav-tabs {
	border:1px solid #ddd;
	/*border-radius:4px;*/
	border-top-left-radius: 4px;
  	border-top-right-radius: 4px;
    border-bottom: 0px solid #ddd;
    background-color: white;
}
.nav-tabs > li {
  float: left;
  margin-bottom: 0px;
}
.nav-tabs > li > a {
  background-color: white;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  /*height: 50px;
  padding-top: 15px;*/
  color:#666;
}
.nav-tabs > li > a:hover {
  border-color: #fff;
  color:#fc5656;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	border-color:#fff;
	margin:0px 5px 0px 5px;
	border:0px 0px 3px 0px;
	border-bottom-style:solid;
	border-bottom-width: 3px;
	border-bottom-color: #fc5656;
	color:#fc5656;
}