@charset "utf-8";
.l-topmenu {
	height:60px;
	overflow: hidden;
	position: relative;
	background:#0e5faa;
}

.l-topmenu .l-topmenu-l {
	float: left
}

.l-topmenu .l-topmenu-l .logo {
	position: absolute;
	left: 20px;
	top: 10px;
	/*height:40px;*/
}

.l-topmenu .l-topmenu-r {
	text-align: right;
	font-family: "Microsoft yahei";
	font-size: 14px;
	color: #fff;
	line-height: 60px;
	padding-right: 20px
}

.l-topmenu .l-topmenu-r a, .l-topmenu .l-topmenu-r span, .l-topmenu .l-topmenu-r font
	{
	color: #fff;
	text-decoration: none;
	margin: 0 5px 0 1px;
}

.l-topmenu .l-exit {
	padding-right: 20px;
	display: inline-block;
}

.l-topmenu .l-skin {
	padding-right: 20px;
	display: inline-block;
}

a {
	text-decoration: none
}

a:link {
	color: #fff
}

a:visited {
	color: #000099
}

a:active {
	color: #fff
}

a:hover {
	color: #000099
}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
.nav-item img{
	border:0;
	position:relative;
	top:3px;
}
.panel-body-noborder {
	overflow: hidden;
}
/*新增*/
.l-topmenu-r > img{
	vertical-align:middle;
	width:43px;
	height:43px;
	border-radius:50%;
}
.l-topmenu .l-topmenu-r {
	line-height: 55px;
}
.l-topmenu .l-topmenu-r a{
	margin-left:10px;
}

.tabs_body{
	background-color:#fdfefe;
}
.tabs_con{
	width:950px;
	margin:0 auto;
	margin-top:4%;
	background:#fff;
}

.tabs_con li{
	list-style:none;
	float:left;
	/*width:280px;*/
	width:250px;
	height:180px;
	margin-right:20px;
	margin-bottom:80px;
	text-align:center;
	position:relative;
}
.tabs_con li:last-child{
	margin-right:0;
}
.tabs_con li .li_icon{
	position:absolute;
	left:50%;
	top:0;
	margin-left:-40px;
	cursor:pointer;
}
.tabs_con li .txt{
	font-weight:bold;
	color:#fff;
	font-size:15px;
}
i.icon_img{
	width:80px;
	height:85px;
	font-size:80px;
	display:block;
	margin-top:5px;
	color:#fff;
}
i.icon_red{
	color:#cd093c;/*红色*/
}
i.icon_ginger{
	color:#eda905;/*黄色*/
}
i.icon_lgreen{
	color:#9dd849;/*浅绿色*/
}
i.icon_pink{
	color:#f45d84;/*粉红色*/
}
i.icon_mgreen{
	color:#41c4c6;/*薄荷绿色*/
}
i.icon_blue{
	color:#3471e1;/*蓝色*/
}

.related_link{
	margin-top:30px;
}
.related_link a{
	color:#0e5faa;
}

/*左侧菜单样式*/
.panel-header {
  background-color: #2c3749;
  padding:13px 10px;
}
.panel-header,.panel-body {
  border-width: 0px;
}
.accordion{
	border-width:0;
}
.accordion .accordion-header {
  background: #2c3749;
  border-bottom:1px solid #2c3749;
  border-left:5px solid transparent;
  padding:12px 13px;
  filter: none;
}
.accordion .accordion-header:hover{
	background: #1a1a1a;
  border-left:5px solid #0e5faa;
  border-bottom:1px solid #1a1a1a;
}
.accordion .accordion-body{
	border-width:0;
}
/*.accordion .accordion-header-selected {
  background: #1a1a1a;
  border-left:5px solid #0e5faa;
  border-bottom:1px solid #1a1a1a;
}*/
.layout-expand .panel-header, .layout-expand .panel-body {
  background: #2c3749;
}
.navbg {
  background: #2c3749;
  overflow: auto;
  padding: 10px 0;
}
.nav-item a{
	display:block;
	padding:6px 4px;
  	padding-left:28px;
  	border: 1px solid #2c3749;
  	border-left:5px solid #2c3749;
}
.nav-item a:hover, .nav-item a:focus {
  background: #1a1a1a;
  cursor: pointer;
  border: 1px solid #1a1a1a;
  border-left:5px solid #0e5faa;
  
}
.nav-item a:link,.nav-item a:visited, .nav-item a:focus {
  color: #fff;
  outline:none;
}
.nav-item-selected a{
  background: #1a1a1a;
  cursor: pointer;
  border: 1px solid #1a1a1a;
  border-left:5px solid #0e5faa;
}
.tabs-header ,.tabs-tool{
  background-color: #f2f4f7;
}
.tabs-header, .tabs-scroller-left, .tabs-scroller-right, .tabs-tool, .tabs, .tabs-panels, .tabs li a.tabs-inner, .tabs li.tabs-selected a.tabs-inner, .tabs-header-bottom .tabs li.tabs-selected a.tabs-inner, .tabs-header-left .tabs li.tabs-selected a.tabs-inner, .tabs-header-right .tabs li.tabs-selected a.tabs-inner {
  border-color: #ceddea;
}
.tabs-header{
	margin-bottom:10px!important;
}
ul.tabs{
	height:35px!important;
	padding-left:20px;
	margin-top:5px;
}
.tabs li a.tabs-inner{
	background:#0e5faa;
	color:#fff;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	height:35px!important;
	line-height:35px!important;
	padding:0 20px;
}
.tabs li.tabs-selected a.tabs-inner{
	border-bottom:1px solid #fff;
	color:#0e5faa;
}
.tabs li a:hover{
	  
}
.layout-footer{
	background:#0e5faa;
	height:20px;
	line-height:20px;
	text-align:center;
}
.layout-footer p{
	color:#fff;
	margin:0;
	font-size:12px;
}
/*框架样式更改*/
.layout-split-north {
  border-bottom: 0px solid #fff;
}
.layout-split-south {
  border-top: 0px solid #fff;
}
.layout-split-east {
  border-left: 0px solid #fff;
}
.layout-split-west {
  border-right: 0px solid #fff;
}

